<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Objednávateľ: 
    <%= collection_select(:job, :buyer_id, Buyer.all, :id, :name) %>
  </div>
  <div class="field">
    Kurz: 
    <%= collection_select(:job, :subject_id, Subject.all, :id, :title) %>
  </div>
  <div class="field">
    Počet osôb:
    <%= f.number_field :persons%>
  </div>

  <div class="actions">
    <%= f.submit "Ulož" %>
  </div>
<% end %>
