<h2>Editácia užívateľa</h2>

<% form_for @user,  :html => { :method => :put } do |f| -%>
  <%= f.error_messages %>

  <p><%= f.label :nick %></p>
  <p><%= f.text_field :nick %></p>

  <p><%= f.label :email %></p>
  <p><%= f.text_field :email %></p>

  <p><%= f.label :práva %></p>
  <p><%= f.text_field :role %></p>


  <p><%= f.submit "Uprav údaje" %></p>
<% end -%>

