<h1>Editing event</h1>

<h1>Pridať termín</h1>

<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
Čas:
<%= datetime_select("event", "zaciatok", 
	:prompt => {:day => 'Deň', 
	:month => 'Mesiac', 
	:year => 'Rok',
	:hour => 'Hodina',
	:minute => "Minúta"}) %><br/><br />


	Predmet:
	    <%= collection_select(:event, :subject_id, 
    Subject.all, :id, :title) %><br/>

	Lektor (ktorý učí danú hodinu):
	<%= collection_select(:event, :user_id, 
    User.all, :id, :lname) %><br />
    
   	Miestnosť:
	<%= collection_select(:event, :classroom_id, 
    Classroom.all, :id, :name) %><br />

	<%= f.hidden_field :status, :value=>"riadna" %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Show', @event %> |
<%= link_to 'Back', events_path %>
