<h2>
Nový termín 
<% if @classroom %>
pre miestnosť <%= @classroom.name %>
<% elsif @user %>
pre lektora <%= @user.fname+" "+@user.lname %>
<% elsif @subject %>
pre kurz <%= @subject.title %>
<% end%>
na deň <%= @zaciatok.strftime("%d.%m.%y") %>
</h2>
<%= form_tag :action=>"pridaj_terminy" do |f| %>
Začiatok lekcie:<%= select_time @zaciatok.to_time, :prefix=>:zaciatok %><br />

<% if @classroom %>
Kurz:<%= select_tag(:subject_id, options_from_collection_for_select(Subject.joins(:users).where("users.id in (?)", User.where(:id=>@classroom.users)), :id, :title)) %><br />
<%= hidden_field_tag :classroom_id,"", :value=>@classroom.id %>
<% elsif @user %>
Lektor: <%= @user.fname+" "+@user.lname %>
<%= hidden_field_tag :user_id, "", :value=>@user.id %><br/>
Kurz:<%= select_tag(:subject_id, options_from_collection_for_select(@user.subjects, :id, :title)) %><br />
Miestnosť:<%= select_tag(:classroom_id, options_from_collection_for_select(@user.classrooms, :id, :name)) %><br />
<% elsif @subject %>
Kurz:<%= @subject.title %><br />
<%= hidden_field_tag :subject_id, "", :value=>@subject.id %><br/>
Lektor: <%= select_tag(:user_id, options_from_collection_for_select(@subject.users, :id, :lname)) %>
Miestnosť:<%= select_tag(:classroom_id, options_from_collection_for_select(Classroom.joins(:users).where("users.id in (?)", User.where(:id=>@subject.users)), :id, :name)) %><br />
<% else %>
Kurz:<%= select_tag(:subject_id, options_from_collection_for_select(Subject.all(:include=>:users, :conditions=>"users.id is not null"), :id, :title)) %><br />
Miestnosť:<%= select_tag(:classroom_id, options_from_collection_for_select(Classroom.all, :id, :name)) %><br />
<% end %>
<%= hidden_field_tag :zac, "", :value=>@zaciatok %>
<p>
Hodinu opakuj (bez prvej):<br />
<%= radio_button_tag :kolko, "nie", true %>neopakuj<br />
<%= radio_button_tag :kolko, "vsetky" %>až do konca kurzu (kým sa neminú všetky hodiny)<br />
<%= radio_button_tag :kolko, "polovica" %>do polovice kurzu (rozloží sa max.50% z nenaplánovaných kurzových hodín)<br />
<%= radio_button_tag :kolko, "cislo" %>zvolený počet: 
<%= number_field_tag :cislo, "1", :size=>1 %> -krát<br /><br />

Túto hodinu chcem opakovať s periódou:<br/>
<%= radio_button_tag :opakovat, "2" %>o 2 dni a takto každý týždeň<br/>
<%= radio_button_tag :opakovat, "3" %>o 3 dni a takto každý týždeň<br/>
<%= radio_button_tag :opakovat, "7", true %>1 týždeň<br />
<%= radio_button_tag :opakovat, "14" %>2 týždne<br />
</p>
<p>
<%= submit_tag "vytvor" %>
</p>
<% end %>

Rozvrhy pre zvolený deň:<br />
<p>
Lektori:
</p>

<% User.where(:active=>true).each do |user1| %>
<table class="day_rozvrh">
		<th style="width:60px; max-width:60px; min-width:60px; font-size:10px;">
			<%= @zaciatok.strftime("%d.%m.%y") %>
		</th>
		<% 13.times do |c|%>
			<th colspan="12" style="width:48px;"><%= c+7 %></th>
		<% end%>
		<tr>
			<td></td>
			<% 156.times do %>
				<td style="width: 2px; max-width: 2px; min-width: 1.5px;"></td>
			<% end %>
		</tr>
		<% @udalosti_u.each do |user, events| %>
		<% if user1.id==user %>
		
		<tr>
		<td><%= user1.lname %></td>
				<% start=Time.parse("7:00") %>
				<% events.each do |event| %>
					<% n = ((event.zaciatok.hour-start.hour)*60+(event.zaciatok.min-start.min))/5 %>
					<td colspan="<%=n%>" ></td>
					<% n2=event.subject.mins_per_hour/5 %>
					<% trieda=event.status %>
					<td class="<%=trieda%>" colspan="<%=n2%>" >
						<%= event.subject.title+" "+event.zaciatok.strftime("%H:%M.") %>
					</td>

					<% start=event.zaciatok+event.subject.mins_per_hour.minutes %>
					<% if 156-(n+n2)!=0 && events.last==event %>
					<td colspan="<%= 156-(n+n2)%>">
					</td>
					<% end %>
				<% end %>

				</tr>
			<% end %>	
			<% end %>
			<% if user1.events.where(:zaciatok=>@zaciatok.to_date..@zaciatok.to_date+1.day).count==0 %>
					<tr>
					<td><%= user1.lname %></td>
					<td colspan="156">
prázdne
					</td>
					</tr>
				<% end%>		
	</table>
<% end %>


<p>Miestnosti:</p>
<table class="day_rozvrh">
		<th style="width:60px; max-width:60px; min-width:60px; font-size:10px;">
			<%= @zaciatok.strftime("%d.%m.%y") %>
		</th>
		<% 13.times do |c|%>
			<th colspan="12" style="width:48px;"><%= c+7 %></th>
		<% end%>
		<tr>
			<td></td>
			<% 156.times do %>
				<td style="width: 2px; max-width: 2px; min-width: 1.5px;"></td>
			<% end %>
		</tr>
		<% @udalosti_c.each do |classroom, events| %>
		<tr>
		<td><%= Classroom.find(classroom).name %></td>
				<% start=Time.parse("7:00") %>
				<% events.each do |event| %>
					<% n = ((event.zaciatok.hour-start.hour)*60+(event.zaciatok.min-start.min))/5 %>
					<td colspan="<%=n%>" ></td>
					<% n2=event.subject.mins_per_hour/5 %>
					<% trieda=event.status %>
					<td class="<%=trieda%>" colspan="<%=n2%>" >
						<%= event.subject.title+" "+event.zaciatok.strftime("%H:%M.") %>
					</td>

					<% start=event.zaciatok+event.subject.mins_per_hour.minutes %>
					<% if 156-(n+n2)!=0 && events.last==event %>
					<td colspan="<%= 156-(n+n2)%>">
					</td>
					<% end %>
				<% end %>

				</tr>
			<% end %>	
		
	</table>

<% @rozvrh.each do |event| %>


<% end %>
