<h2>
Nový termín 
<% if @classroom %>
pre miestnosť <%= @classroom.name %>
<% elsif @lektor %>
pre lektora <%= @lektor.fname+" "+@lektor.lname %>
<% end%>
na deň <%= @zaciatok.strftime("%d.%m.%y") %>
</h2>
<%= form_tag :action=>"pridaj_terminy" do |f| %>
Začiatok lekcie:<%= select_time @zaciatok.to_time, :prefix=>:zaciatok %><br />

<% if @classroom %>
Kurz:<%= select_tag(:subject_id, options_from_collection_for_select(Subject.joins(:users).where("users.id like ?", User.where(:id=>@classroom.users)), :id, :title)) %><br />
<% elsif @lektor %>
Kurz:<%= select_tag(:subject_id, options_from_collection_for_select(@lektor.subjects, :id, :title)) %><br />
Miestnosť:<%= select_tag(:classroom_id, options_from_collection_for_select(@lektor.classrooms, :id, :name)) %><br />
<% else %>
Kurz:<%= select_tag(:subject_id, options_from_collection_for_select(Subject.all, :id, :title)) %><br />
Miestnosť:<%= select_tag(:classroom_id, options_from_collection_for_select(Classroom.all, :id, :title)) %><br />
<% end %>
<p>
Hodinu opakuj (bez prvej):<br />
<%= radio_button_tag :kolko, "nie", true %>neopakuj<br />
<%= radio_button_tag :kolko, "vsetky" %>až do konca kurzu (kým sa neminú všetky hodiny)<br />
<%= radio_button_tag :kolko, "polovica" %>do polovice kurzu (rozloží sa 50% z kurzových hodín)<br />
<%= radio_button_tag :kolko, "cislo" %>zvolený počet: 
<%= number_field_tag :cislo, "1", :size=>1 %> -krát<br /><br />

Túto hodinu chcem opakovať s periódou:<br/>
<%= radio_button_tag :opakovat, "2" %>2 dni mimo SO,NE (s tým, že podľa prvého týždňa sa nastavia ďalšie)<br/>
<%= radio_button_tag :opakovat, "3" %>3 dni mimo SO,NE (s tým, že podľa prvého týždňa sa nastavia ďalšie)<br/>
<%= radio_button_tag :opakovat, "7" %>1 týždeň<br />
<%= radio_button_tag :opakovat, "14" %>2 týždne<br />
</p>
<p>
<%= submit_tag "vytvor" %>
</p>
<% end %>

Rozvrhy pre zvolený deň:<br />
<p>
Lektori:
</p>
<table class="day_rozvrh">
		<th style="width:70px; max-width:70px; min-width:70px; font-size:10px;">
			<%= @zaciatok.strftime("%d.%m.%y") %>
		</th>
		<% 13.times do |c|%>
			<th colspan="12" style="width:48px;"><%= c+7 %></th>
		<% end%>
		<tr>
			<td></td>
			<% 156.times do %>
				<td style="width: 2px; max-width: 2px; min-width: 1.5px;"></td>
			<% end %>
		</tr>
		<% @udalosti_u.each do |user, events| %>
		<tr>
		<td><%= User.find(user).lname %></td>
				<% start=Time.parse("7:00") %>
				<% events.each do |event| %>
					<% n = ((event.zaciatok.hour-start.hour)*60+(event.zaciatok.min-start.min))/5 %>
					<td colspan="<%=n%>" ></td>
					<% n2=event.subject.mins_per_hour/5 %>
					<% trieda=event.status %>
					<td class="<%=trieda%>" colspan="<%=n2%>" >
						<%= event.subject.title+" "+event.zaciatok.strftime("%H:%M.") %>
					</td>

					<% start=event.zaciatok+event.subject.mins_per_hour.minutes %>
					<% if 156-(n+n2)!=0 && events.last==event %>
					<td colspan="<%= 156-(n+n2)%>">
					</td>
					<% end %>
				<% end %>

				</tr>
			<% end %>	
		
	</table>
<p>Miestnosti:</p>
<table class="day_rozvrh">
		<th style="width:70px; max-width:70px; min-width:70px; font-size:10px;">
			<%= @zaciatok.strftime("%d.%m.%y") %>
		</th>
		<% 13.times do |c|%>
			<th colspan="12" style="width:48px;"><%= c+7 %></th>
		<% end%>
		<tr>
			<td></td>
			<% 156.times do %>
				<td style="width: 2px; max-width: 2px; min-width: 1.5px;"></td>
			<% end %>
		</tr>
		<% @udalosti_c.each do |classroom, events| %>
		<tr>
		<td><%= Classroom.find(classroom).name %></td>
				<% start=Time.parse("7:00") %>
				<% events.each do |event| %>
					<% n = ((event.zaciatok.hour-start.hour)*60+(event.zaciatok.min-start.min))/5 %>
					<td colspan="<%=n%>" ></td>
					<% n2=event.subject.mins_per_hour/5 %>
					<% trieda=event.status %>
					<td class="<%=trieda%>" colspan="<%=n2%>" >
						<%= event.subject.title+" "+event.zaciatok.strftime("%H:%M.") %>
					</td>

					<% start=event.zaciatok+event.subject.mins_per_hour.minutes %>
					<% if 156-(n+n2)!=0 && events.last==event %>
					<td colspan="<%= 156-(n+n2)%>">
					</td>
					<% end %>
				<% end %>

				</tr>
			<% end %>	
		
	</table>

<% @rozvrh.each do |event| %>


<% end %>
