<%= form_for(@bad_date) do |f| %>
  <% if @bad_date.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bad_date.errors.count, "error") %> prohibited this bad_date from being saved:</h2>

      <ul>
      <% @bad_date.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fujdate %><br />
    <%= f.date_select :fujdate %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
