<h1>Listing bad_dates</h1>

<table>
  <tr>
    <th>Fujdate</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bad_dates.each do |bad_date| %>
  <tr>
    <td><%= bad_date.fujdate %></td>
    <td><%= bad_date.user_id %></td>
    <td><%= link_to 'Show', bad_date %></td>
    <td><%= link_to 'Edit', edit_bad_date_path(bad_date) %></td>
    <td><%= link_to 'Destroy', bad_date, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bad date', new_bad_date_path %>
